{% extends 'base.html' %} {% block content %} {% load static %}
  <div class="time-container">
  <h5 class="time-title">Time Taken </h5>
  
  <input type="text" readonly id="timespent" value="0:00">

  </div>
<div class="container">
{% for question in page_obj %}
<form action="" method="post">
{% csrf_token %}
  <p>Q. {{question.question}}</p>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="option" id="option_one" value="{{question.option_one}}">
    {{question.option_one}}
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="option" id="option_two" value="{{question.option_two}}">
    {{question.option_two}}
  </label>
</div>
<div class="form-check disabled">
  <input class="form-check-input" type="radio" name="option" id="option_three" value="{{question.option_three}}">
    {{question.option_three}}
  </label>
</div>
<div class="form-check disabled">
  <input class="form-check-input" type="radio" name="option" id="option_four" value="{{question.option_four}}">
    {{question.option_four}}
  </label>
</div>
  <input type="hidden" name="answerLabel" id="answerLabel" value="{{question.answer}}">
  <input class="btn btn-primary check-btn" type="submit" value="Check" id="check" onclick="displayRadioValue()" />
</form>
</div>
  <div class="container" id = "result_div">
  
  </div>
{% endfor %}

    <div class="container">
    {% comment %} <ol class="pagination align-right mr-auto">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% endif %}   {% endcomment %}
      <div class="pagination-btns">
        <ol class="pagination align-right mr-auto">
        {% if page_obj.has_next %}
          <li class="page-item">
            <a id="next-btn" class="page-link btn btn-success" href="?page={{ page_obj.next_page_number }}"
              >Next</a
            >
          </li>
          {% endif %}
            <li class="page-item">
              <a href="{% url 'result_page' %}" class="btn btn-danger" id="finish-btn" onclick="endQuizTime()">Finish</a>
            </li>
        </ol>
    Question {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    </div>
  </div>





{% endblock content %}








{% comment %} {% for question in page_obj %}
<form action="." method="post">
{% csrf_token %}
<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q. {{question.question}} </b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"> 
        <label class="options">{{question.option_one}} <input type="radio" name="option" id="option_one"> 
        <span class="checkmark"></span> </label> 
        <label class="options">{{question.option_two}} <input type="radio" name="option" id="option_two">
        <span class="checkmark"></span> </label>
        <label class="options">{{question.option_three}} <input type="radio" name="option" id="option_three"> 
        <span class="checkmark"></span> </label> 
        <label class="options">{{question.option_four}} <input type="radio" name="option" id="option_four"> 
        <span class="checkmark"></span> </label> 
        </div>
    </div>
{% endfor %}
    <div class="d-flex align-items-center pt-3">
        <div id="prev" class="wrapper"> <button class="btn btn-primary check-button">Check</button> </div>
        <div class="ml-auto mr-sm-5"> <button class="btn btn-success">Next</button> </div>
    </div>
</div>

</form>  {% endcomment %}
